@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.slate.100);
    --foreground: theme(colors.slate.900);

    --overlay: theme(colors.slate.50);
    --overlay-foreground: theme(colors.slate.900);

    --primary: theme(colors.slate.900);
    --primary-foreground: theme(colors.slate.100);

    --secondary: theme(colors.slate.100);
    --secondary-foreground: theme(colors.slate.900);

    --muted: theme(colors.slate.300);
    --muted-foreground: theme(colors.slate.700);

    --accent: theme(colors.slate.200);
    --accent-foreground: theme(colors.slate.800);

    --destructive: theme(colors.red.600);
    --destructive-foreground: theme(colors.slate.100);

    --border: theme(colors.slate.300);
    --input: theme(colors.slate.300);
    --ring: theme(colors.slate.900);

    --radius: 0.5rem;
  }

  [data-mode='dark'] {
    --background: theme(colors.slate.900);
    --foreground: theme(colors.slate.100);

    --overlay: theme(colors.slate.800);
    --overlay-foreground: theme(colors.slate.100);

    --primary: theme(colors.sky.700);
    --primary-foreground: theme(colors.slate.100);

    --secondary: theme(colors.slate.800);
    --secondary-foreground: theme(colors.slate.100);

    --muted: theme(colors.slate.700);
    --muted-foreground: theme(colors.slate.300);

    --accent: theme(colors.slate.800);
    --accent-foreground: theme(colors.slate.200);

    --border: theme(colors.slate.700);
    --input: theme(colors.slate.700);
    --ring: theme(colors.slate.100);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
